USE [KoryoClinicDb]
GO
/****** Object:  Table [dbo].[Beds]    Script Date: 8/12/2018 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Beds](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[WardId] [int] NULL,
	[PriceDaily] [decimal](18, 0) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Beds] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BloodGroup]    Script Date: 8/12/2018 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BloodGroup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](4) NULL,
 CONSTRAINT [PK_BloodGroup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cabins]    Script Date: 8/12/2018 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cabins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[RoomTypeId] [int] NULL,
	[FloorId] [int] NULL,
	[PriceDaily] [decimal](18, 0) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Cabins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Designations]    Script Date: 8/12/2018 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Designations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
 CONSTRAINT [PK_Designations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Diagnosis]    Script Date: 8/12/2018 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Diagnosis](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[DiagnosisTypeId] [int] NULL,
	[Description] [varchar](max) NULL,
	[RegularFee] [decimal](18, 0) NULL,
	[Discount] [decimal](18, 0) NULL,
	[TotalFee] [decimal](18, 0) NULL,
 CONSTRAINT [PK_Diagnosis] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DiagnosisBillDtl]    Script Date: 8/12/2018 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiagnosisBillDtl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DiagnosisBillMstId] [int] NULL,
	[DiagnosisTypeId] [int] NULL,
	[DiagnosisId] [int] NULL,
	[Price] [decimal](18, 0) NULL,
	[Discount] [decimal](18, 0) NULL,
	[PayableAmount] [decimal](18, 0) NULL,
	[DeliveryDate] [date] NULL,
	[ReferenceId] [int] NULL,
 CONSTRAINT [PK_DiagnosisBillDtl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DiagnosisBillMst]    Script Date: 8/12/2018 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DiagnosisBillMst](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NULL,
	[PatientType] [varchar](20) NULL,
	[BillNo] [varchar](50) NULL,
	[SpecialDiscount] [decimal](18, 0) NULL,
	[Vat] [decimal](18, 0) NULL,
	[TotalPayableAmount] [decimal](18, 0) NULL,
	[EntryDate] [date] NULL,
 CONSTRAINT [PK_DiagnosisBillMst] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DiagnosisTypes]    Script Date: 8/12/2018 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DiagnosisTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[ShortName] [varchar](50) NULL,
	[Details] [varchar](max) NULL,
 CONSTRAINT [PK_DiagnosisType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 8/12/2018 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Doctors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[PhoneNo] [varchar](15) NULL,
	[DepartmentId] [int] NULL,
	[DesignationId] [int] NULL,
	[Specialty] [varchar](100) NULL,
	[ProfileBrief] [varchar](max) NULL,
 CONSTRAINT [PK_Doctors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Floors]    Script Date: 8/12/2018 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Floors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](10) NULL,
 CONSTRAINT [PK_Floor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HospitalDepartments]    Script Date: 8/12/2018 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HospitalDepartments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[ShortName] [varchar](50) NULL,
	[Details] [varchar](max) NULL,
 CONSTRAINT [PK_HospitalDepartments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IndoorPatients]    Script Date: 8/12/2018 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IndoorPatients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [varchar](50) NULL,
	[Name] [varchar](100) NULL,
	[Gender] [varchar](8) NULL,
	[Age] [varchar](4) NULL,
	[BloodId] [int] NULL,
	[PhoneNo] [varchar](15) NULL,
	[Address] [varchar](max) NULL,
	[EntryDate] [datetime] NULL,
	[Remark] [varchar](max) NULL,
	[GName] [varchar](100) NULL,
	[GPhoneNo] [varchar](15) NULL,
	[GGender] [varchar](8) NULL,
	[GAge] [varchar](4) NULL,
	[Relation] [varchar](10) NULL,
	[GAddress] [varchar](max) NULL,
	[ConsultantId] [int] NULL,
	[ReferenceById] [int] NULL,
	[StatusId] [int] NULL,
	[Image] [varbinary](max) NULL,
 CONSTRAINT [PK_IndoorPatients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MoneyReceiveDtl]    Script Date: 8/12/2018 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MoneyReceiveDtl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MoneyReceiveMstId] [int] NULL,
	[PayMethode] [varchar](50) NULL,
	[BankName] [varchar](50) NULL,
	[ChequeNo] [varchar](50) NULL,
	[ChequeDate] [varchar](50) NULL,
	[EntryDate] [datetime] NULL,
	[MoneyReceiveBy] [varchar](100) NULL,
 CONSTRAINT [PK_MoneyReceiveDtl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MoneyReceiveMst]    Script Date: 8/12/2018 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MoneyReceiveMst](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NULL,
	[PatientType] [varchar](50) NULL,
	[PaymentType] [varchar](50) NULL,
	[DiagnosisBillMstId] [int] NULL,
	[PayAmount] [decimal](18, 0) NULL,
	[AdvanceAmount] [decimal](18, 0) NULL,
	[Particulars] [varchar](max) NULL,
	[SpecialDiscount] [decimal](18, 0) NULL,
	[IPVat] [decimal](18, 0) NULL,
 CONSTRAINT [PK_MoneyReceiveMst] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Organization]    Script Date: 8/12/2018 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Organization](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NULL,
	[ShortName] [varchar](20) NULL,
	[Image] [varbinary](max) NULL,
	[PhoneNo] [varchar](15) NULL,
	[Email] [varchar](200) NULL,
	[Address] [varchar](max) NULL,
	[OrganizationSpeech] [varchar](200) NULL,
	[Description] [varchar](max) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Organization] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OtherBills]    Script Date: 8/12/2018 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OtherBills](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NULL,
	[PatientType] [varchar](5) NULL,
	[OtherBillId] [int] NULL,
	[Price] [decimal](18, 0) NULL,
	[EntryDate] [date] NULL,
 CONSTRAINT [PK_OtherBills] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OtherBillType]    Script Date: 8/12/2018 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OtherBillType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_OtherBill] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OutdoorPatients]    Script Date: 8/12/2018 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OutdoorPatients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [varchar](100) NULL,
	[Name] [varchar](100) NULL,
	[PhoneNo] [varchar](15) NULL,
	[Gender] [varchar](8) NULL,
	[Age] [varchar](3) NULL,
	[EntryDate] [date] NULL,
	[DepartmentId] [int] NULL,
	[DoctorId] [int] NULL,
	[ReferenceById] [int] NULL,
 CONSTRAINT [PK_OutdoorPatient] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PackageDtl]    Script Date: 8/12/2018 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PackageDtl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PackageMstId] [int] NULL,
	[ServiceType] [varchar](100) NULL,
	[ServiceId] [int] NULL,
 CONSTRAINT [PK_PackageDtl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PackageMst]    Script Date: 8/12/2018 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PackageMst](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NULL,
	[ShortName] [varchar](50) NULL,
	[PackageTypeId] [int] NULL,
	[Description] [varchar](max) NULL,
	[RegularFee] [decimal](18, 0) NULL,
	[Discount] [decimal](18, 0) NULL,
	[TotalFee] [decimal](18, 0) NULL,
 CONSTRAINT [PK_PackageMst] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PackageTypes]    Script Date: 8/12/2018 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PackageTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NULL,
	[ShortName] [varchar](50) NULL,
	[Description] [varchar](max) NULL,
 CONSTRAINT [PK_PackageTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PatientBedInfo]    Script Date: 8/12/2018 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PatientBedInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NULL,
	[RoomType] [varchar](8) NULL,
	[WardId] [int] NULL,
	[BedId] [int] NULL,
	[BedPrice] [decimal](18, 0) NULL,
	[CabinType] [int] NULL,
	[CabinId] [int] NULL,
	[CabinPrice] [decimal](18, 0) NULL,
	[AdmitDate] [datetime] NULL,
	[ReleseDate] [datetime] NULL,
 CONSTRAINT [PK_PatientBedInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ReferenceBy]    Script Date: 8/12/2018 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ReferenceBy](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_ReferenceBy] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RoomTypes]    Script Date: 8/12/2018 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RoomTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](8) NULL,
 CONSTRAINT [PK_RoomType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Status]    Script Date: 8/12/2018 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Status](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](8) NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Surgerys]    Script Date: 8/12/2018 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Surgerys](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[ShortName] [varchar](10) NULL,
	[SurgeryTypeId] [int] NULL,
	[RegularFee] [decimal](18, 0) NULL,
	[Discount] [decimal](18, 0) NULL,
	[TotalFee] [decimal](18, 0) NULL,
	[Description] [varchar](max) NULL,
 CONSTRAINT [PK_Surgerys] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SurgeryTypes]    Script Date: 8/12/2018 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SurgeryTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[ShortName] [varchar](10) NULL,
	[Description] [varchar](max) NULL,
 CONSTRAINT [PK_SurgeryTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserRoleDetails]    Script Date: 8/12/2018 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoleDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserRoleId] [int] NULL,
	[PageNameId] [int] NULL,
	[PageCreate] [bit] NULL,
	[PageRead] [bit] NULL,
	[PageUpdate] [bit] NULL,
	[PageDelete] [bit] NULL,
 CONSTRAINT [PK_UserRoleDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 8/12/2018 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Description] [varchar](max) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/12/2018 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](100) NULL,
	[LastName] [varchar](50) NULL,
	[PhoneNo] [varchar](15) NULL,
	[UserName] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[UserRoleId] [int] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Wards]    Script Date: 8/12/2018 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Wards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[DepartmentId] [int] NULL,
	[FloorId] [int] NULL,
	[WardFor] [varchar](50) NULL,
	[RoomTypeId] [int] NULL,
	[Details] [varchar](max) NULL,
 CONSTRAINT [PK_Wards] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WebPages]    Script Date: 8/12/2018 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WebPages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
 CONSTRAINT [PK_WebPages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Beds] ON 

INSERT [dbo].[Beds] ([Id], [Name], [WardId], [PriceDaily], [Status]) VALUES (1, N'B-101', 1, CAST(300 AS Decimal(18, 0)), 0)
INSERT [dbo].[Beds] ([Id], [Name], [WardId], [PriceDaily], [Status]) VALUES (2, N'B-102', 1, CAST(300 AS Decimal(18, 0)), 0)
INSERT [dbo].[Beds] ([Id], [Name], [WardId], [PriceDaily], [Status]) VALUES (3, N'B-103', 1, CAST(300 AS Decimal(18, 0)), 0)
SET IDENTITY_INSERT [dbo].[Beds] OFF
SET IDENTITY_INSERT [dbo].[BloodGroup] ON 

INSERT [dbo].[BloodGroup] ([Id], [Name]) VALUES (1, N'None')
INSERT [dbo].[BloodGroup] ([Id], [Name]) VALUES (2, N'O+')
INSERT [dbo].[BloodGroup] ([Id], [Name]) VALUES (3, N'A+')
SET IDENTITY_INSERT [dbo].[BloodGroup] OFF
SET IDENTITY_INSERT [dbo].[Cabins] ON 

INSERT [dbo].[Cabins] ([Id], [Name], [RoomTypeId], [FloorId], [PriceDaily], [Status]) VALUES (1, N'C-201', 1, 3, CAST(400 AS Decimal(18, 0)), 0)
INSERT [dbo].[Cabins] ([Id], [Name], [RoomTypeId], [FloorId], [PriceDaily], [Status]) VALUES (2, N'C-202', 1, 3, CAST(600 AS Decimal(18, 0)), 0)
INSERT [dbo].[Cabins] ([Id], [Name], [RoomTypeId], [FloorId], [PriceDaily], [Status]) VALUES (3, N'C-203', 1, 3, CAST(500 AS Decimal(18, 0)), 0)
SET IDENTITY_INSERT [dbo].[Cabins] OFF
SET IDENTITY_INSERT [dbo].[Designations] ON 

INSERT [dbo].[Designations] ([Id], [Name]) VALUES (1, N'CEO')
SET IDENTITY_INSERT [dbo].[Designations] OFF
SET IDENTITY_INSERT [dbo].[Diagnosis] ON 

INSERT [dbo].[Diagnosis] ([Id], [Name], [DiagnosisTypeId], [Description], [RegularFee], [Discount], [TotalFee]) VALUES (1, N'TC, DC, ESR, HB%', 1, N'', CAST(300 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(300 AS Decimal(18, 0)))
INSERT [dbo].[Diagnosis] ([Id], [Name], [DiagnosisTypeId], [Description], [RegularFee], [Discount], [TotalFee]) VALUES (2, N'Platelet Count (PC)', 1, N'', CAST(200 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(200 AS Decimal(18, 0)))
INSERT [dbo].[Diagnosis] ([Id], [Name], [DiagnosisTypeId], [Description], [RegularFee], [Discount], [TotalFee]) VALUES (3, N'Malaria (MP)', 1, N'', CAST(500 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(500 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[Diagnosis] OFF
SET IDENTITY_INSERT [dbo].[DiagnosisBillDtl] ON 

INSERT [dbo].[DiagnosisBillDtl] ([Id], [DiagnosisBillMstId], [DiagnosisTypeId], [DiagnosisId], [Price], [Discount], [PayableAmount], [DeliveryDate], [ReferenceId]) VALUES (1, 1, 8, 37, CAST(200 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(200 AS Decimal(18, 0)), CAST(N'2018-08-12' AS Date), 0)
SET IDENTITY_INSERT [dbo].[DiagnosisBillDtl] OFF
SET IDENTITY_INSERT [dbo].[DiagnosisBillMst] ON 

INSERT [dbo].[DiagnosisBillMst] ([Id], [PatientId], [PatientType], [BillNo], [SpecialDiscount], [Vat], [TotalPayableAmount], [EntryDate]) VALUES (1, 1, N'OP', N'001', CAST(0 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(200 AS Decimal(18, 0)), CAST(N'2018-08-12' AS Date))
SET IDENTITY_INSERT [dbo].[DiagnosisBillMst] OFF
SET IDENTITY_INSERT [dbo].[DiagnosisTypes] ON 

INSERT [dbo].[DiagnosisTypes] ([Id], [Name], [ShortName], [Details]) VALUES (1, N'HAEMATOLOGY', N'', N'')
INSERT [dbo].[DiagnosisTypes] ([Id], [Name], [ShortName], [Details]) VALUES (2, N'HEPATITIS PANNEL', N'', N'')
INSERT [dbo].[DiagnosisTypes] ([Id], [Name], [ShortName], [Details]) VALUES (3, N'SEROLOGY', N'', N'')
SET IDENTITY_INSERT [dbo].[DiagnosisTypes] OFF
SET IDENTITY_INSERT [dbo].[Doctors] ON 

INSERT [dbo].[Doctors] ([Id], [Name], [PhoneNo], [DepartmentId], [DesignationId], [Specialty], [ProfileBrief]) VALUES (1, N'DR. MD. AMZAD HOSSAIN SARDAR', N'', 0, NULL, N'MBBS, BCS (Health), MD (Internal Medicine) Thesis Part', N'')
INSERT [dbo].[Doctors] ([Id], [Name], [PhoneNo], [DepartmentId], [DesignationId], [Specialty], [ProfileBrief]) VALUES (2, N'DR. MD. NAZRUL ISLAM', N'', 0, NULL, N'MBBS, BCS (Health), PGT, (Childe and Medicine), MD (Childe) Thesis Part', N'')
INSERT [dbo].[Doctors] ([Id], [Name], [PhoneNo], [DepartmentId], [DesignationId], [Specialty], [ProfileBrief]) VALUES (3, N'DR. ZAKIA ISLAM', N'', 0, NULL, N'MBBS, BCS (Health), FCPS, CCD (Birdem), CMU (CIMUD)', N'')
SET IDENTITY_INSERT [dbo].[Doctors] OFF
SET IDENTITY_INSERT [dbo].[Floors] ON 

INSERT [dbo].[Floors] ([Id], [Name]) VALUES (1, N'1')
INSERT [dbo].[Floors] ([Id], [Name]) VALUES (2, N'2')
INSERT [dbo].[Floors] ([Id], [Name]) VALUES (3, N'3')
SET IDENTITY_INSERT [dbo].[Floors] OFF
SET IDENTITY_INSERT [dbo].[HospitalDepartments] ON 

INSERT [dbo].[HospitalDepartments] ([Id], [Name], [ShortName], [Details]) VALUES (1, N'Accident and emergency', N'A&E', N'This department (sometimes called Casualty) is where youre likely to be taken if youve called an ambulance in an emergency.')
INSERT [dbo].[HospitalDepartments] ([Id], [Name], [ShortName], [Details]) VALUES (2, N'Ear nose and throat', N'ENT', N'The ENT department provides care for patients with a variety of problems, ')
SET IDENTITY_INSERT [dbo].[HospitalDepartments] OFF
SET IDENTITY_INSERT [dbo].[MoneyReceiveDtl] ON 

INSERT [dbo].[MoneyReceiveDtl] ([Id], [MoneyReceiveMstId], [PayMethode], [BankName], [ChequeNo], [ChequeDate], [EntryDate], [MoneyReceiveBy]) VALUES (1, 1, N'Cash', NULL, NULL, NULL, CAST(N'2018-08-12 14:45:16.000' AS DateTime), N'2')
INSERT [dbo].[MoneyReceiveDtl] ([Id], [MoneyReceiveMstId], [PayMethode], [BankName], [ChequeNo], [ChequeDate], [EntryDate], [MoneyReceiveBy]) VALUES (2, 2, N'Cash', NULL, NULL, NULL, CAST(N'2018-08-12 14:45:47.000' AS DateTime), N'2')
SET IDENTITY_INSERT [dbo].[MoneyReceiveDtl] OFF
SET IDENTITY_INSERT [dbo].[MoneyReceiveMst] ON 

INSERT [dbo].[MoneyReceiveMst] ([Id], [PatientId], [PatientType], [PaymentType], [DiagnosisBillMstId], [PayAmount], [AdvanceAmount], [Particulars], [SpecialDiscount], [IPVat]) VALUES (1, 1, N'OP', NULL, 1, CAST(0 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), NULL, CAST(0 AS Decimal(18, 0)), NULL)
INSERT [dbo].[MoneyReceiveMst] ([Id], [PatientId], [PatientType], [PaymentType], [DiagnosisBillMstId], [PayAmount], [AdvanceAmount], [Particulars], [SpecialDiscount], [IPVat]) VALUES (2, 1, N'OP', NULL, 1, CAST(100 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), NULL, CAST(0 AS Decimal(18, 0)), NULL)
SET IDENTITY_INSERT [dbo].[MoneyReceiveMst] OFF
SET IDENTITY_INSERT [dbo].[Organization] ON 

SET IDENTITY_INSERT [dbo].[Organization] OFF
SET IDENTITY_INSERT [dbo].[OutdoorPatients] ON 

INSERT [dbo].[OutdoorPatients] ([Id], [PatientId], [Name], [PhoneNo], [Gender], [Age], [EntryDate], [DepartmentId], [DoctorId], [ReferenceById]) VALUES (1, N'OP-0001', N'a', N'as', N'Male', N'10', CAST(N'2018-08-12' AS Date), 2, 1, 0)
SET IDENTITY_INSERT [dbo].[OutdoorPatients] OFF
SET IDENTITY_INSERT [dbo].[PackageDtl] ON 

INSERT [dbo].[PackageDtl] ([Id], [PackageMstId], [ServiceType], [ServiceId]) VALUES (1, 1, N'Diagnosis', 1004)
INSERT [dbo].[PackageDtl] ([Id], [PackageMstId], [ServiceType], [ServiceId]) VALUES (2, 1, N'Diagnosis', 1003)
INSERT [dbo].[PackageDtl] ([Id], [PackageMstId], [ServiceType], [ServiceId]) VALUES (3, 1, N'Surgery', 1003)
SET IDENTITY_INSERT [dbo].[PackageDtl] OFF
SET IDENTITY_INSERT [dbo].[PackageMst] ON 

INSERT [dbo].[PackageMst] ([Id], [Name], [ShortName], [PackageTypeId], [Description], [RegularFee], [Discount], [TotalFee]) VALUES (1, N'Hart', N'H', 2, N'asdf', CAST(100 AS Decimal(18, 0)), CAST(10 AS Decimal(18, 0)), CAST(90 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[PackageMst] OFF
SET IDENTITY_INSERT [dbo].[PackageTypes] ON 

INSERT [dbo].[PackageTypes] ([Id], [Name], [ShortName], [Description]) VALUES (2, N'Package 1', N'P1', N'Package Desctiption')
SET IDENTITY_INSERT [dbo].[PackageTypes] OFF
SET IDENTITY_INSERT [dbo].[RoomTypes] ON 

INSERT [dbo].[RoomTypes] ([Id], [Name]) VALUES (1, N'Non-AC')
INSERT [dbo].[RoomTypes] ([Id], [Name]) VALUES (2, N'AC')
SET IDENTITY_INSERT [dbo].[RoomTypes] OFF
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([Id], [Name]) VALUES (1, N'Active')
INSERT [dbo].[Status] ([Id], [Name]) VALUES (2, N'Inactive')
SET IDENTITY_INSERT [dbo].[Status] OFF
SET IDENTITY_INSERT [dbo].[Surgerys] ON 

INSERT [dbo].[Surgerys] ([Id], [Name], [ShortName], [SurgeryTypeId], [RegularFee], [Discount], [TotalFee], [Description]) VALUES (1003, N'Breast reduction surgery ', N'BRS', 1002, CAST(20000 AS Decimal(18, 0)), CAST(5000 AS Decimal(18, 0)), CAST(15000 AS Decimal(18, 0)), N'Hurley Medical Center offers breast reduction surgery to decrease breast size and lift the breasts. Hurley’s plastic surgeons and surgical team works with you to determine your goals and desired expectations for breast reduction, and to help you decide if breast reduction surgery is right for you.')
SET IDENTITY_INSERT [dbo].[Surgerys] OFF
SET IDENTITY_INSERT [dbo].[SurgeryTypes] ON 

INSERT [dbo].[SurgeryTypes] ([Id], [Name], [ShortName], [Description]) VALUES (1002, N'Breast Surgery', N'BS', N'Breast augmentation surgery .
Breast reduction surgery ')
SET IDENTITY_INSERT [dbo].[SurgeryTypes] OFF
SET IDENTITY_INSERT [dbo].[UserRoleDetails] ON 

INSERT [dbo].[UserRoleDetails] ([Id], [UserRoleId], [PageNameId], [PageCreate], [PageRead], [PageUpdate], [PageDelete]) VALUES (1, 1, 1, 1, 1, 1, 1)
INSERT [dbo].[UserRoleDetails] ([Id], [UserRoleId], [PageNameId], [PageCreate], [PageRead], [PageUpdate], [PageDelete]) VALUES (2, 2, 1, 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[UserRoleDetails] OFF
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([Id], [Name], [Description], [Status]) VALUES (1, N'Developer', N'Netsoft Solution Ltd Developer.', 1)
INSERT [dbo].[UserRoles] ([Id], [Name], [Description], [Status]) VALUES (2, N'Admin', N'Admin Power. All access.', 1)
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [PhoneNo], [UserName], [Password], [UserRoleId], [Status]) VALUES (1, N'Md. Forhad', N'Parvez', N'01760000000', N'developer', N'developer', 1, 1)
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [PhoneNo], [UserName], [Password], [UserRoleId], [Status]) VALUES (2, N'Admin', N'1', N'01760000000', N'admin', N'admin', 2, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
SET IDENTITY_INSERT [dbo].[Wards] ON 

INSERT [dbo].[Wards] ([Id], [Name], [DepartmentId], [FloorId], [WardFor], [RoomTypeId], [Details]) VALUES (1, N'W-201', 0, 3, N'F', 1, N'5 Bed')
INSERT [dbo].[Wards] ([Id], [Name], [DepartmentId], [FloorId], [WardFor], [RoomTypeId], [Details]) VALUES (2, N'W-202', 0, 3, N'M', 1, N'4 Bed')
SET IDENTITY_INSERT [dbo].[Wards] OFF
SET IDENTITY_INSERT [dbo].[WebPages] ON 

INSERT [dbo].[WebPages] ([Id], [Name]) VALUES (1, N'IndoorPatient')
SET IDENTITY_INSERT [dbo].[WebPages] OFF
/****** Object:  StoredProcedure [dbo].[spGetImage]    Script Date: 8/12/2018 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spGetImage]
@id int
as
Begin
 select Image from Organization Where Id=@id
End


GO
/****** Object:  StoredProcedure [dbo].[spUploadImage]    Script Date: 8/12/2018 2:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spUploadImage]
@ImageData varbinary(MAX)
as
Begin
 update Organization set Image=@ImageData Where Id=2
End


GO
